/* Error: Undefined mixin.
 *    ,
 * 56 | /             @include mediaquery-mobile(){
 * 57 | |                 padding-left: 10px;
 * 58 | |                 padding-top: 20px;
 * 59 | \             }
 *    '
 *   scss\layout\header.scss 56:13  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 56 \2502  \250c              @include mediaquery-mobile(){\a 57 \2502  \2502                  padding-left: 10px;\a 58 \2502  \2502                  padding-top: 20px;\a 59 \2502  \2514              }\a    \2575 \a   scss\\layout\\header.scss 56:13  root stylesheet";
}
