@import '../basics/colors';

main{
    .each-container{
        width: 100%;
        overflow: hidden;
        background-color: $secondary-color;
        padding-top: 100px;
        a{
            text-decoration: none;
        }
        img{
            float: left;
            
            margin-right: 10px;
        }
        .each{
            color: $tertiary-color;
            h4{
                font-size: 30px;
                margin-top: 0;
                color: $primary-color;
                padding: 10px;
            }
            p{
                font-family: 'Raleway', sans-serif;
                font-size: 15px;
                margin: 0;  
                padding-right: 10px; 
            }
        }
        .go-back{
            display: flex;
            justify-content: start;
            font-size: 20px;
            margin: 100px 0px 10px 10px;
        }
        .btn-each{
            background-color: $primary-color;
            border-color: $primary-color;
            border-radius: 10%;
            font-size: 20px;
            padding: 10px;
            margin: 10px;
            a{
                text-decoration: none;
                color: $secondary-color;
            }
            &:hover{
                background-color: $primary-color;
                border: $tertiary-color;
                color: $primary-color;
            }
        }
    }
}