@import '../basics/colors';

main{
    .buy-container{
        margin: 0 auto;
        max-width: 1000px;
        padding-bottom: 100px;
        .buy-text{
            h3{
                padding-top: 150px;
                @include mediaquery-mobile(){
                    padding-top: 70px;
                }
            }
            p{
                text-align: justify;
                a{
                    color: $primary-color;
                    text-decoration: none;
                    font-weight: 100;
                }
            }
        }
        .buy-img{
            img{
                max-height: 80vh;
                object-fit: cover;
                padding: 20px;
                width: 100%;
                margin-top: 100px;
            }
        }
        .table {
            color: $tertiary-color;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
            padding-left: 10px;
            .green-text {
                color: $primary-color;
                text-transform: uppercase;
            }
        }
    }
}