@import '../components/buttons.scss';
@import '../basics/colors';
@import '../basics/mixins.scss';

main{
    #hero{
        background-image: url('../images/banner.jpg');
        width: 100%;
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $secondary-color;
            font-size: 90px;
            text-transform: uppercase;
            text-align: center; 
            @include mediaquery-mobile(){
                font-size: 60px;
                min-height: 288px;
                display: flex;
                align-items: center;
            }
        }
    }
    #bannerTypography{
        animation: changeTypography 2s infinite;
    }
    .card{
        padding: 10px;
        flex-basis: calc(25% - 40px);
        margin: 20px;
        .card-img-top{
            width: 250px;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 250px;
            transition: transform 0.3s ease-in-out;
        }
        .card-img-top:hover{
            transform: scale(1.2);
            position: relative;
            z-index: 1;
        }
    }
    #banner{
        background-image: url(../images/banner2.jpg);
        width: 100%;
        height: 1000px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            color: $secondary-color;
            font-size: 100px;
            text-transform: uppercase;
            text-align: center;
        }
        a{
            color: $tertiary-color;
            background-color: $primary-color;
            border-radius: 5px;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            margin: 20px 0px;
            padding: 10px 20px;
            text-decoration: none;
        }
    }
    .reviews{
        text-align: center;
        .review-card{
            width: 300px;
            height: 400px;
            background-color: $tertiary-color;
            padding: 40px;
            border-radius: 8px;
            img{
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 auto;
            }
            h4{
                margin: 20px 15px 10px 15px;
                color: $primary-color;
                font-size: 20px;
            }
            p{
                font-size: 14 px;
                color: $secondary-color;
                font-family: 'Raleway', sans-serif;
                font-weight: bolder;   
            }
            .review-hearts{
                margin-top: 10px;
                color: $primary-color;
            }
        }
    }
    #instagramPhotos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
        background-color: $primary-color;
    }
    #horizontal{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        @include mediaquery-mobile(){
            flex-direction: column;
            margin-right: 25px;
        }
    }
    .ig-pics{
        flex-basis: calc(16.66% - 20px);
        margin: 10px;
        overflow: hidden;
        img{
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin: 5px;
            transition: transform 0.3s ease-in-out;
        } 
        &:hover{
            transform: scale(1.2);
            position: relative;
            z-index: 1;
        }
    }
    .instagram {
        color: $primary-color;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer{
    .love-aby{
        color: $primary-color;
        font-size: 18px;
    }
}

@keyframes changeTypography{
    0%{
        font-family: "Pathway Gothic One";
    }
    50%{
        font-family: "Raleway";
    }
    100%{
        font-family: "Pathway Gothic One";
    }
}
