main{
    #inputContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        h2{
            display: flex;
            color: $primary-color;
            padding-top: 200px ;
            padding-bottom: 10px;
            font-size: 50px;
            justify-content: center;
        }
        .form-label{
            color: $primary-color;
            font-size: 20px; 
        }
        .form-text{
            color: $tertiary-color;
        }
        .form-check-input{
            &:checked{
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
        .form-check-label{
            color: $tertiary-color;
        }
        .btn{
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 18px;
            font-weight: bold;
        }
    }
}
