footer{
    background-color: $secondary-color;
    margin-top: 10px;
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .footer-menu{
        margin-right: 25px;
        ol{
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    color: $tertiary-color;
                }
            }
        }
    }
    .footer-contact{
        margin-left: 25px;
        div{
            display: flex;
            p{
                margin-left: 8px;
                color: $tertiary-color;  
                margin-bottom: 1;
                padding-left: 0;
            }
        }
    }
    #contactIcons{
        color: $primary-color;
    }
}