@import '../basics/colors';

header {
    position: fixed;
    background-color: $secondary-color;
    width: 100%;
    z-index: 1;
    .navbar {
        position: relative;
        z-index: 2;
        .navbar-brand {
            color: $tertiary-color;
            font-size: 30px;
            padding-right: 50px;
            &:hover {
                color: $tertiary-color;
            }
        }
        .navbar-toggler {
            color: $tertiary-color;
            background-color: $primary-color;
        }
        .nav-link {
            color: white;
            font-size: 24px;
            padding: 10px;
            &:hover {
                color: $primary-color;
            }
            &:focus{
                color: $primary-color;
            }
        }
        .dropdown-menu {
            background-color: $secondary-color;
            border-radius: 0%;
            .dropdown-item {
                color: $tertiary-color;
                font-size: 18px;
                &:hover{
                    background-color: $primary-color;
                    color: $secondary-color;
                }
            }
            
        }
        #cartHeart{
            width: 80px;
            padding: 20px;
        }
        #signInUser{
            text-decoration: none;
            color: $tertiary-color;
            font-size: 27px;
            margin-top: 5px;
            @include mediaquery-mobile(){
                padding-left: 10px;
                padding-top: 20px;
            }
        }
    }
    .breadcrumb-item{
        margin: 15px 0px 0px 15px;
        position: relative;
        a{
            text-decoration: none;
            color: $primary-color;
            font-size: 15px;
        }
    }
    .breadcrumb-item.active{
        color: $primary-color;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        color: $tertiary-color;
    }
}