* {
    margin: 0;
    padding:0;
    font-family: 'Pathway Gothic One', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: $secondary-color;
}
main{
        .subtitles{
            color: $primary-color;
            font-size: 30px;
            padding: 20px;
        }
        .white-text{
            color: $tertiary-color;
            font-family: 'Raleway', sans-serif;
            font-weight: bolder;
            padding-left: 10px;
        }
        .white-color {
            color: $tertiary-color;
        }
    }

