* {
    margin: 0;
    padding:0;
    font-family: 'Pathway Gothic One', sans-serif;
    scroll-behavior: smooth;
}

@import '../basics/colors';
@import '../basics/variables.scss';

main{
    .subtitles{
        @if $primary-color == #87f867{
            font-size: $size-subtitle;
            padding: 20px;
            color: $primary-color;
        }@else{
            font-size: $text-size;
        } 
    }
    .white-text{
        color: $tertiary-color;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        padding-left: 10px;
    }
    .white-color {
        color: $tertiary-color;
    }
}
