@media (max-width: 576px) {
    .row{
        padding-left: 25px;
    }
    .review-card {
        margin-bottom: 20px;
    }
    .buy-container {
        display: flex;
        flex-direction: column;
    }
    #contactContainer {
        display: flex;
        flex-direction: column;
    }
    .each-container {
        display: flex;
        flex-direction: column;
        img{
            height: 300px;
            width: 300px;
            padding: 10px;
            width: 100%;
            object-fit: cover;
        }
    }
    .each h2, p, h3{
        padding-left: 10px;
    }
    .btn-each {
        margin: 10px;
    }
    .about-us{
        .square {
            width: 100vw !important;
            height: auto !important;
            p{
                font-size: 18px !important;
                margin: 10px;
            }
        }
    }
    #map{
        display: flex;
        flex-direction: column;
    }
    .form-contact{
        margin-left: 0;
    }
    
    
}